---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import servicesImage from "/src/assets/shugert/Services_Shugert.png";
import ServicesBlock from "@components/services-main-block.astro";
import Separator from "@components/separator.astro";

import shopifyExpert from "@assets/shugert/shopify-experts.png";

const webDev = {
  header: "Web & E-Commerce Development",
  category: "Custom Websites",
  mainText:
    " We create and maintain pixel perfect web creations for clients all over the world.",
  grid: [
    {
      title: " Design or Redesign? ",
      text: "We believe in coming up with original ideas and turning them into digital work that is both innovative and interactive. We are a team of professional developers inspired by creativity and driven by client success.",
    },
    {
      title: "Versatility",
      text: "Shugert has developed websites for clients big and small in every industry. Our versatility is well tested and our ingenuity is well proven. ",
    },
    {
      title: " Engagement Oriented ",
      text: "We develop eye-catching, people first designs, so people can't help but notice. Transform your website into something you and your customers or clients will love.",
    },
    {
      title: "Launch & Deadlines!",
      text: "Launch your e-commerce websites with real results. From day one, we listen to your goals and help you make them a reality. And we delivery on time, no excuses!",
    },
  ],
  image: "/src/assets/shugert/Web-Development.png",
  imageAlt: "Web Development",
};

const machineLearn = {
  header: "Custom Machine Learning Solutions",
  category: "Artificial Intelligence",
  mainText:
    " Our machine learning team has helped 20+ top companies solve critical business problems with practical machine learning solutions. Let us show you how. ",
  grid: [
    {
      title: "  Machine learning that’s made to measure ",
      text: "Shugert is more than consultants, we’re a team of machine learning developers. We build fully custom Machine Learning solutions and we don’t rest until your solution is live. ",
    },
    {
      title: " Grow your bottom line with data ",
      text: " You’ve got the data. Our team can help you turn it into a machine learning solution that delivers concrete results, like increasing productivity and boosting revenue. ",
    },
    {
      title: " Jumpstart your data-driven future ",
      text: " Don’t let your competition get a head start on machine learning. We’ll help you add AI to your workflow within 6 months, without hiring your own data science team. ",
    },
    {
      title: " Machine learning results in 6 months or less ",
      text: " We’ve refined our process over the course of 35+ successful projects to get from idea to production software quickly with minimal risk or upfront investment. ",
    },
  ],
  image: "/src/assets/shugert/custom-machine-learning.png",
  imageAlt: "Machine Learning Solutions",
};

const customContent = {
  header: "Content that understands your audience and customers",
  category: "Custom Content",
  mainText:
    " Selling a service or a product through creative and smart content that can build an audience of paying customers. ",
  grid: [
    {
      title: " Creative copy / Editorial ",
      text: " We can provide a steady flow of content to keep your audience interested. Written articles, galleries, rankings and many other forms of telling stories. ",
    },
    {
      title: "Video",
      text: " From commercial snippets for social media to full thematic documentaries. We have a full team of producers, animators and sound designers to meet any standard. ",
    },
    {
      title: "Assets",
      text: " Thumbnails, screen designs, banners, infographics, custom artwork and illustrations, data visualization and just about any graphic asset your content needs. ",
    },
    {
      title: "Management",
      text: " Our team of content managers can make sure every piece gets published on schedule, provide audience feedback and analytics reports. We get involved and content gets focused and polish over time. ",
    },
  ],
  image: "/src/assets/shugert/Services_Shugert_Content.png",
  imageAlt: "Custom Content",
};

const socialNet = {
  header: "Do you follow me?",
  category: "Social networks",
  mainText:
    " The best advertising, the most accurate hook and the correct position in the convoluted world of social networks is one of our most useful tools ",
  grid: [
    {
      title: " A world of hashtags ",
      text: " We suggest and apply the best tags to make your brand or service more memorable ",
    },
    {
      title: " What do you mean? ",
      text: " We devised the use of a unique language, devised by our content team, to give you a unique narrative ",
    },
    {
      title: " The best posts for you ",
      text: " We offer the best positioning management, with measurable schedules and safe and reliable traffic directed to your social media ",
    },
    {
      title: " Figures and intuition ",
      text: " We believe that social media not only needs “measures”, but heart to make your product memorable. ",
    },
  ],
  image: "/src/assets/shugert/Services_Shugert_SocialMedia.png",
  imageAlt: "Social Media",
};

const customPub = {
  header: "Print is not dead!",
  category: "Custom Publishing",
  mainText:
    " A team of award-winning editorial designers and editors can be your off-site production department. ",
  grid: [
    {
      title: " Design or Redesign? ",
      text: " We can adapt to your current design or we can work on a facelift or a full-fledged re-thinking of your publications. We have the necessary skills and manpower. ",
    },
    {
      title: " High Volume, no problem! ",
      text: " Our team is big, is fast and is disciplined. If you need hundreds or thousands of pages produced, we can meet the demand. There is no shortage of skilled and talented people. ",
    },
    {
      title: "We adapt",
      text: " We can work on Dropbox folders or integrate to high volume content managers like Vjoon K4 or other robust systems like it. ",
    },
    {
      title: "Deadlines!",
      text: " We are a large team, so your production is always guaranteed, with no delays and no excuses. ",
    },
  ],
  image: "/src/assets/shugert/Services_Shugert_Publishing.png",
  imageAlt: "Custom Publishing",
};
---

<Layout title="Services">
  <Container>
    <main
      class="grid lg:grid-cols-7 place-items-center relative justify-items-center"
    >
      <div class="md:max-w-max lg:col-span-3 place-self-start mt-10">
        <hgroup>
          <h3 class="text-sm [text-wrap:balance] text-start">What We Offer</h3>
          <h1 class="font-bold lg:tracking-tight lg:text-start text-5xl">
            Call us a production studio with a creative drive.
          </h1>
          <h2 class="text-xl mt-4 lg:[text-wrap:balance] text-start">
            Our work focused on efficiency, consistency and quality in both
            deliverables and service. We can help your business achieve its
            goals with a no BS approach to teamwork on making those goals a
            reality.
          </h2>
        </hgroup>
      </div>

      <div class="py-3 lg:col-span-3 lg:-mr-44 max-w-[600px] mx-1">
        <Image
          src={servicesImage}
          alt="Services "
          sizes="(max-width: 600px) 100vw, 50vw"
          widths={[240, 540, 720]}
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </main>
  </Container>

  <ServicesBlock sectionInfo={webDev} imageLoad="eager" />
  <Container class="text-xl mt-10">
    <div class="">
      Shugert is a collaborative web design and development studio designed to
      take the stress out of Shopify. With over a decade of experience as
      ecommerce experts, we enhance, optimize, and custom-build sites on <a
        href="https://shugert.com.mx/shopify-experts"
        >Shopify and Shopify Plus</a
      >, helping time-pressed businesses and growing brands make the most of
      their online store. We’ll focus on ensuring your site captures and
      converts (cha-ching)—so you can focus on your business.
      <br /><br />
      Because you’re not a Shopify expert—but your customers don’t need to know that.
      <a href="#">Learn More</a>
      <br /><br />
    </div>
    And of course, we are:
    <a
      class="max-w-[200px] inline-block"
      href="https://experts.shopify.com/shugert-marketing"
    >
      <Image
        src={shopifyExpert}
        alt="Shopify Expert"
        widths={[240, 540, 720]}
        loading="eager"
        fetchpriority="high"
      />
    </a>
  </Container>
  <Separator />

  <ServicesBlock sectionInfo={machineLearn} imageLoad="lazy" />
  <Separator />
  <ServicesBlock sectionInfo={customContent} imageLoad="lazy" />
  <Separator />
  <ServicesBlock sectionInfo={socialNet} imageLoad="lazy" />
  <Separator />
  <ServicesBlock sectionInfo={customPub} imageLoad="lazy" />
</Layout>
