---
// @ts-nocheck
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Picture } from "astro:assets";
import shugertLogo from "../../assets/shugert/shugert_2020_dark.png";
import {
  StickyHeader,
  Astronav,
  MenuItems,
  MenuIcon,
} from "astro-navbar";

const menuitems = [
  // {
  //   title: "Pages",
  //   path: "#",
  //   children: [
  //     { title: "Features", path: "/features" },
  //     { title: "Integrations", path: "/integrations" },
  //     {
  //       title: "Blog Details",
  //       path: "/blog//typography-example",
  //     },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  {
    title: "About Us",
    path: "/about",
  },
  {
    title: "Our Work",
    path: "/portfolio",
  },
  {
    title: "Services",
    path: "/our-services",
  },
  {
    title: "Learning Center",
    path: "/learning",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Shopify Solutions",
    path: "/pricing",
  },
  // {
  //   title: "Contact Us",
  //   path: "/contact",
  // },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={130}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg">
    <Container>
      <div
        class="flex flex-col lg:flex-row justify-between items-center relative z-10"
        transition:animate="none">
        <Astronav>
          <div class="flex w-auto lg:w-auto items-center justify-between">
            <a
              style="width: 220px;"
              href="/"
              class="text-lg flex items-center transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full px-2 -ml-2"
              >
              <Picture
          src={shugertLogo}
          alt="Astronaut in the air"
          formats={["avif", "webp"]}
          sizes="(max-width: 180px) 100vw, 50vw"
          widths={[180, shugertLogo.width]}
          loading="eager"
          fetchpriority="high"
        />
            </a>
            <div class="block lg:hidden">
              <MenuIcon class="w-4 h-4 text-gray-800" />
            </div>
          </div>
          <MenuItems class="hidden w-full  mt-2 lg:flex lg:mt-0">
            <ul class="w-full flex flex-col lg:flex-row lg:gap-8 justify-center">
              {
                menuitems.map((item, index) => (
                  <>
                    {item.children && (
                      <Dropdown
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 text-sm text-gray-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 transition focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                        {item.title}
                      </a>
                    </li>
                  )}
                  
                </>
              ))
            }
            <li>
              <a
                href={"/contact"}
                class="flex items-center justify-center px-6 py-2 text-sm font-semibold text-white bg-[#3282b8] rounded-full hover:bg-[#000] focus-visible:ring-2 focus-visible:ring-offset-2 transition focus-visible:ring-indigo-500 focus-visible:outline-none">
                Contact Us
              </a>
            </li>
          </ul>
          <!-- <div class="lg:hidden flex items-center mt-3 gap-4">
              <Link href="#" style="muted" block size="md">Log in</Link>
              <Link href="#" size="md" block>Try for Free</Link>
            </div> -->
        </MenuItems>
      </Astronav>
    </div>
  </Container>
</StickyHeader>

<!--
<script>
  // @ts-nocheck
  let lastKnownScrollPosition = 0;
  let ticking = false;
  const header = document.querySelector(".astronav-sticky-header");
  const animDiv = header.querySelector(".padding-anim");
  const defaultClass = "py-[20px] border-transparent";
  const activeClass = "py-[8px] bg-white border-gray-200";

  // Define two different scroll positions
  const addScrollY = 100;   // Scroll position to add active class
  const removeScrollY = 50; // Scroll position to remove active class

  function updateAnimation(scrollPos) {
    if (scrollPos > addScrollY) {
      animDiv.classList.remove(...defaultClass.split(" "));
      animDiv.classList.add("is-active", ...activeClass.split(" "));
      animDiv.setAttribute("active", "");
    } else if (scrollPos < removeScrollY) {
      animDiv.classList.remove("is-active", ...activeClass.split(" "));
      animDiv.classList.add(...defaultClass.split(" "));
      animDiv.removeAttribute("active");
    }
  }

  window.addEventListener("scroll", function () {
    lastKnownScrollPosition = window.scrollY;

    if (!ticking) {
      window.requestAnimationFrame(function () {
        updateAnimation(lastKnownScrollPosition);
        ticking = false;
      });

      ticking = true;
    }
  });
</script> -->
